html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
    background-color: black;
}

.space {
    background-image: url("img/space.png");
    background-size: cover;
    width: 80%;
    margin: auto;
    /*bottom: 0;*/
    height: 100vh;
    position: relative;
}

.planet-area {
    position: relative;
    width: 500px;
    bottom: 0;
    height: 100%;
    overflow: hidden;
}

.planet {
    position: absolute;

    width: 100%;
    bottom: -66px;
    z-index: 2;
    transform: rotate(15deg);
    overflow: hidden;
}

.rocket {
    position: absolute;
    left: -30px;
    bottom: 200px;
    transform-origin: bottom;
    transform:scale(45%) rotate(30deg);
    z-index: 1;
}
.control-panel{
    position: absolute;
    right: 5vw;
    bottom: 10vh;
    /*width: 50%;*/
    padding: 20px;
    width: 330px;
    z-index: 3;
    border-radius: 20px;
    background-color:#269;
    background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
.control-panel__inner {
    position: relative;
    width: 290px;
    background-color: rgba(255, 255, 255, 0.5);
    /*background-color: rgb(211, 211, 211);*/
    padding: 20px;
    border-radius: 20px;
    z-index: 3;
}
.check-buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 20px auto;
}
input[type="checkbox"]{
    transform: scale(200%);
}
input[type="password"]{
    color: #222;
    height: 32px;
    border-radius: 12px;
    border-style: solid;
    border-width: 4px;
    width: 69%;
    font-size: 1.2em;
    border-color: #cdf879;
}
input[type=button]{
    font-weight: bold;
    color: white;
    padding: 10px;
    margin-left: 12px;
    width: 60px;
    border-style: none;
    border-radius: 8px;
    background-color: #46355d;
}
input[value="Launch"]{
    margin-left: 40%;
    width: 80px;
    border-style: solid;
    border-radius: 20px;
    border-width: 4px;
    border-color: #cdf879;
}
input[type=button]:hover{
    opacity: 80%;
}
input[type=button]:disabled{
    background: #444;
    color: #46355d;
    border-style: none;
}
.levers{
    display: flex;
    justify-content: space-between;
}
.lever {
    transform: rotate(-90deg);
    margin: 70px -40px;
}