html {
    padding: 0;
    overflow: auto;
    z-index: 0;
}
body {
    font-size: 24px;
    margin: 0;
    z-index: 0;
}
nav {
    margin: 0;
    position: sticky;
    top: 0;
    background-color: #819dee;
    z-index: 2;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 2vh 10px;
    border-width: 0px 1px;
    border-color: white;
    border-style: solid;
    text-wrap: none;
}
li:hover {
    background-color: #9eb9e0;
}

li a {
    font-family: "Palatino Linotype";
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

header h1 {
    position: absolute;
    left: 10%;
    bottom: 0;
}
header {
    /*position: fixed;*/
    top: 0;
    font-size: 4vh;
    font-family: "Roboto Black";
    color: white;
    height: 60vh;
    width: 100%;
    margin: auto;
    /*z-index: -1;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #4c6485;
    background-blend-mode: lighten;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/cddbdfb5-764f-41e8-82e3-8779a04d98c4/debogqu-4426f087-45b3-4a05-8032-27a6086dbebc.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2NkZGJkZmI1LTc2NGYtNDFlOC04MmUzLTg3NzlhMDRkOThjNFwvZGVib2dxdS00NDI2ZjA4Ny00NWIzLTRhMDUtODAzMi0yN2E2MDg2ZGJlYmMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ULtzF0tMUbpm6cfnic5Oa4JjN9xzozAtdeF_dlBE-9E");
    background-size: 100%;
}
main h1 {
    position: absolute;
    left: 10%;
    top: -16vh;
    font-size: 4vh;
    font-family: "Roboto Black";
    color: white;
}
main {
    /*margin-top: 16vh;*/
    /*padding-top: 10%;*/
    font-family: "Calibri";
    position: relative;
    /*top: 70vh;*/
    padding-bottom: 12px;
    background-color: white;
}

h2 {
    /*margin: 40px;*/
}
section {
    scroll-margin-top: 78px;
}
#portrait {
    padding: 24px;
    width: Max(25%, 260px);
    float: left;
}

#about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3em;
}
#aboutText {
    width: 50%;
}
@media (max-width: 800px) {
    #about {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        font-size: 1.3em;
    }
    #aboutText {
        width: 100%;
        margin: auto;
    }
}
#portfolio {
    font-size: 1.5em;
}
.portfolio-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#portfolio img {
    width: 100%;
    /*height: 70vmin;*/
    /*width: 80vmin;*/
}
.portfolio-entry {
    width: 100%;
    /*padding: 10px;*/
    margin: 10px;
    text-align: center;
    border-color: #426596;
    border-style: solid;
    border-width: 2px;
    position: relative;
}
.portfolio-entry p {
    /*position: absolute;*/
    /*bottom: 20px;*/
    margin: 10px auto;
}
.open-window {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: auto;
    border-style: none;
    background-color: rgba(0,0,0,0%);
    cursor: pointer;
}
.window {
    /*margin-top: -25%;*/
    top: 25%;
    margin-left: -320px;
    left: 50%;
    visibility: hidden;
    display: inline-block;
    position: fixed;
    width: 600px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 5px 15px gray;
    border-radius: 32px;
    background-color: #fffde8;
}
.window-opened{
    visibility: visible;
    z-index: 2;
}
#windowCancel {
    color: white;
    padding: 8px 12px;
    border-style: none;
    border-radius: 8px;
    background-color: #819dee;
}
.px-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10%;
    padding-right: 10%;
    /*width: Max(1000px*0.8, 70%);*/
}
#contacts {
    line-height: 0.5;
    text-align: center;
}
#contacts a{
    border-style: none;
    background-color: #9eb9e0;
    border-radius: 12px;
    padding: 0 10px;
    color: white;
}
#contacts a:visited{
    color: #eff0f6;
}
#contacts a:hover{
    background-color: #819dee;
}
footer {
    position: relative;
    top: 0;
    /*bottom: 100px;*/
    font-family: "Palatino Linotype";
    color: white;
    text-align: center;
    /*padding-top: 24px;*/
    font-size: 1.2em;
    line-height: 275%;
    background-color: #819dee;
    height: 87px;
}